1.Write a Python program to convert kilometers to miles?

In [4]:
km = float(input('enter miles : '))
m = km*0.621
print(m)

enter miles : 4
2.484

2.Write a Python program to convert Celsius to Fahrenheit?

In [6]:
celsius = int(input('enter temperature in celsius : '))
Farenheit = (celsius*(9/5))+32
print(Farenheit)

enter temperature in celsius : 100
212.0

3.Write a Python program to display calendar?

In [9]:
import calendar
year = int(input('Enter year : '))
print(calendar.calendar(year), end='')

Enter year : 2030
                                  2030

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                   1  2  3
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       4  5  6  7  8  9 10
14 15 16 17 18 19 20      11 12 13 14 15 16 17      11 12 13 14 15 16 17
21 22 23 24 25 26 27      18 19 20 21 22 23 24      18 19 20 21 22 23 24
28 29 30 31               25 26 27 28               25 26 27 28 29 30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7             1  2  3  4  5                      1  2
 8  9 10 11 12 13 14       6  7  8  9 10 11 12       3  4  5  6  7  8  9
15 16 17 18 19 20 21      13 14 15 16 17 18 19      10 11 12 13 14 15 16
22 23 24 25 26 27 28      20 21 22 23 24 25 26      17 18 19 20 21 22 23
29 30                     27 28 29 30 31            24 25 26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7                1  2  3  4                         1
 8  9 10 11 12 13 14       5  6  7  8  9 10 11       2  3  4  5  6  7  8
15 16 17 18 19 20 21      12 13 14 15 16 17 18       9 10 11 12 13 14 15
22 23 24 25 26 27 28      19 20 21 22 23 24 25      16 17 18 19 20 21 22
29 30 31                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3                         1
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       2  3  4  5  6  7  8
14 15 16 17 18 19 20      11 12 13 14 15 16 17       9 10 11 12 13 14 15
21 22 23 24 25 26 27      18 19 20 21 22 23 24      16 17 18 19 20 21 22
28 29 30 31               25 26 27 28 29 30         23 24 25 26 27 28 29
                                                    30 31

4.Write a Python program to solve quadratic equation?

In [16]:
# ax^2+bx+c=0
a = int(input("Enter num_1: "))
b = int(input("Enter num_2: "))
c = int(input("Enter num_3: "))

print("Quadratic Equation is: {}x^2+{}x+{}=0".format(a,b,c))

if a==0:
    print("a should not be equal to Zero")
else:
    r = b**2 - 4*a*c
    x1 = (((-b) + r**0.5)/(2*a))
    x2 = (((-b) - r**0.5)/(2*a))
    print("Two possible values of our quadratic equation are {} and {}".format(x1,x2))

Enter num_1: 1
Enter num_2: 3
Enter num_3: 7
Quadratic Equation is: 1x^2+3x+7=0
Two possible values of our quadratic equation are (-1.4999999999999998+2.179449471770337j) and (-1.5000000000000002-2.179449471770337j)

5.Write a Python program to swap two variables without temp variable?

In [15]:
def swap(a,b):
  a,b = b,a
  print('After swapping a is {}, b is {}'.format(a,b))

a = int(input('enter a : '))
b = int(input('enter b : '))

swap(a,b)

enter a : 1
enter b : 2
After swapping a is 2, b is 1