1.Please write a program using generator to print the numbers which can be divisible by 5 and
7 between 0 and n in comma separated form while n is input by console.
Example:
If the following n is given as input to the program:
100
Then, the output of the program should be:
0,35,70

In [3]:
def gen(n):
  for i in range(n):
    if i%5==0 and i%7==0:
      yield(i)

op = gen(100)
for i in op:
  print(i,end=',')

0,35,70,

2.Please write a program using generator to print the even numbers between 0 and n in comma
separated form while n is input by console.
Example:
If the following n is given as input to the program:
10
Then, the output of the program should be:
0,2,4,6,8,10

In [5]:
def gen(n):
  for i in range(n+1):
    if i%2==0:
      yield(i)

op = gen(10)
for i in op:
  print(i,end=',')

0,2,4,6,8,10,

3.The Fibonacci Sequence is computed based on the following formula:
f(n)=0 if n=0
f(n)=1 if n=1
f(n)=f(n-1)+f(n-2) if n&gt;1
Please write a program using list comprehension to print the Fibonacci Sequence in comma
separated form with a given n input by console.
Example:
If the following n is given as input to the program:
7

Then, the output of the program should be:
0,1,1,2,3,5,8,13

In [12]:
def fib(n):
  if n==0:
    return 0
  elif n==1:
    return 1
  else:
    return fib(n-1)+fib(n-2)
  
res = [fib(i) for i in range(7)]
print(res)

[0, 1, 1, 2, 3, 5, 8]

4.Assuming that we have some email addresses in the &quot;username@companyname.com&quot; format,
please write program to print the user name of a given email address. Both user names and
company names are composed of letters only.
Example:
If the following email address is given as input to the program:
john@google.com
Then, the output of the program should be:
john

In [14]:
email = input('enter email : ')
print(email.split('@')[0])

enter email : john@google.com
john

5.Define a class named Shape and its subclass Square. The Square class has an init function
which takes a length as argument. Both classes have a area function which can print the area
of the shape where Shape&#39;s area is 0 by default.

In [18]:
class Shape():
  def area(self):
    return 0
  
class Square(Shape):
  def __init__(self,n=0):
    self.n = n
  def area(self):
    print(self.n**2)

shape = Shape()
print(shape.area())
sq = Square(10)
sq.area()

0
100