**Assignment - 17**

1.Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to
print the string &#39;too low&#39; if guess_me is less than 7, &#39;too high&#39; if greater than 7, and &#39;just right&#39; if equal
to 7.

In [3]:
def guess(guess_me):
  if guess_me < 7:
    print('too low')
  elif guess_me > 7:
    print('too low')
  else: 
    print('just right')

guess_me = 7
guess(guess_me)

just right

2.Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while
loop that compares start with guess_me. Print too low if start is less than guess me. If start equals
guess_me, print &#39;found it!&#39; and exit the loop. If start is greater than guess_me, print &#39;oops&#39; and exit
the loop. Increment start at the end of the loop.

In [6]:
def check(guess_me, start):
  while True:
    if start < guess_me:
      print('too low')
    elif guess_me == start:
      print('found it!')
      break
    else:
      print('oops')
      break
    start += 1

guess_me = 7
start = 1
check(guess_me, start)

too low
too low
too low
too low
too low
too low
found it!

3.Print the following values of the list [3, 2, 1, 0] using a for loop.

In [8]:
l = [3,2,1,0]
for i in l:
  print(i)

3
2
1
0

4.Use a list comprehension to make a list of the even numbers in range(10)

In [9]:
even = [i for i in range(10) if i%2 ==0]
even

[0, 2, 4, 6, 8]

5.Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the
keys, and use the square of each key as its value.

In [10]:
sq = {i:i*2 for i in range(10)}
sq

{0: 0, 1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18}

6.Construct the set odd from the odd numbers in the range using a set comprehension (10).

In [11]:
set(i for i in range(10) if i%2 !=0)

{1, 3, 5, 7, 9}

7.Use a generator comprehension to return the string &#39;Got &#39; and a number for the numbers in
range(10). Iterate through this by using a for loop.

In [14]:
gen = ('Got'+str(i) for i in range(10))
for i in gen:
  print(i, end=' ')

Got0 Got1 Got2 Got3 Got4 Got5 Got6 Got7 Got8 Got9

8.Define a function called good that returns the list [&#39;Harry&#39;, &#39;Ron&#39;, &#39;Hermione&#39;].

In [16]:
def good():
  return ['Harry', 'Ron', 'Hermione']

good()

['Harry', 'Ron', 'Hermione']

9.Define a generator function called get_odds that returns the odd numbers from range(10). Use a
for loop to find and print the third value returned.

In [22]:
def get_odds():
  return (i for i in range(10) if i%2 != 0)

flag = 0
for i in get_odds():
  if flag == 2:
    print(i)
    break
  flag += 1

5

10.Define an exception called OopsException. Raise this exception to see what happens. Then write
the code to catch this exception and print &#39;Caught an oops&#39;.

In [25]:
class OopsException(Exception):
  pass

def data(input):
  try:
    if input < 0:
      raise OopsException(input)
  except Exception as e:
    print('Caught an oops')

data(-1)

Caught an oops

11.Use zip() to make a dictionary called movies that pairs these lists: titles = [&#39;Creature of Habit&#39;,
&#39;Crewel Fate&#39;] and plots = [&#39;A nun turns into a monster&#39;, &#39;A haunted yarn shop&#39;].

In [28]:
titles = ['Creature of Habit', 'Crewel Fate']
plots = ['A nun turns into a monster', 'A haunted yarn shop']
x = zip(titles, plots)
print(dict(x))

{'Creature of Habit': 'A nun turns into a monster', 'Crewel Fate': 'A haunted yarn shop'}